
<template>
    <div>
        <v-app>
            <navigation></navigation>

            <v-content>
                <router-view></router-view>
            </v-content>

            <v-footer clipped-left app>
                <v-spacer></v-spacer>
                <div>© {{ new Date().getFullYear() }}</div>
            </v-footer>
        </v-app>
    </div>
</template>

<script>
    import NavigationComponent from './NavigationComponent.vue';
    import UserHoursComponent from './UserHoursComponent.vue';
    import Axios from 'axios';
    import employees from '../employees' //Used for offline testing
    import dateFormat from 'dateformat'

    export default {
        name: 'HomeComponent', 

        components: {
            'navigation': NavigationComponent,
            'user-hours': UserHoursComponent
        },

        data() {
            return {
             
            }
        },
         
        mounted() {
            
        }
    }
</script>