
<template>
  <v-app>
    <main>
      <v-container fluid>
        <v-layout row>
          <v-flex xs12 sm6 offset-sm3 md4 offset-md4>
            <v-card>

              <v-toolbar dark>
                <v-toolbar-title class="white--text">Login</v-toolbar-title>
              </v-toolbar>

              <v-card-title></v-card-title>
              <div align="middle">
                <img src="../assets/bvLogoSmall.png">
              </div>

              <v-card-text>
                <v-form>
                  <v-text-field label="E-mail" v-model="email" :rules="emailRules" type="email" required prepend-icon="email"></v-text-field>
                  <v-text-field label="Password" v-model="password" :rules="passwordRules" :type="'password'" required prepend-icon="security"></v-text-field>
                </v-form>
              </v-card-text>

              <v-layout align-end justify-end>
                <v-btn type="submit" @click="onLogin">Login</v-btn>
              </v-layout>

            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </v-app>
</template>

<script>
  export default {
    name: 'LoginComponent',

    data () {
        return {
          valid: false,
          password: '',
          passwordRules: [
              function(v) { return !!v || 'Password is required' }
          ],
          email: '',
          emailRules: [
              function(v) { return !!v || 'E-mail is required' },
              function(v) { return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid' }
          ]
      }
    },
    
    methods: {
        onLogin () {
            this.$router.push('/home');
        }
    }
  }
</script>