
<template>
  <div>
    <v-navigation-drawer clipped fixed v-model="drawer" app dark>

      <v-toolbar dense>
        <v-list>
            <v-list-tile-content>
              <v-list-tile-title class="text-md-center subheading">Users</v-list-tile-title>
            </v-list-tile-content>
        </v-list>
      </v-toolbar>

      <v-list class="pt-0 mt-3">
          <v-list-tile  v-for="user in users" :key="user.IDEmployee" @click="navUserClick(user.IDEmployee)">
            <v-list-tile-action>
              <v-icon>perm_identity</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ user.Name + ' ' + user.Surname }} </v-list-tile-title>
            </v-list-tile-content>
            <v-tooltip :color="user.SignInState ? 'red' : 'blue'" right>
              <v-btn flat slot="activator" icon @dblclick="signInOut(user.IDEmployee)">
                <v-icon :color="user.SignInState ? 'blue' : 'grey'">{{ user.SignInState ? 'check' : 'close' }}</v-icon>
              </v-btn>
              <span>{{ user.SignInState ? 'Sign Out' : 'Sign In' }}</span>
            </v-tooltip>
          </v-list-tile>
      </v-list>

    </v-navigation-drawer>

    <v-toolbar dark fixed clipped-left app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title id="toolbarTitle">Easy Login</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-menu offset-y>
          <v-btn flat dark slot="activator">
            <v-list-tile-avatar class="mr-2">
                <img src="../assets/user.png"/>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Username</v-list-tile-title>
            </v-list-tile-content>
          </v-btn>
          <v-list>
            <v-list-tile v-for="item in menu" :key="item" @click="navMenuClick(item)">
              <v-list-tile-title>{{ item }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>

  </div>
</template>
<script>
    import moment from 'moment'
    import Axios from 'axios'
    import dateFormat from 'dateformat'
    
    export default {
      name: 'NavigationComponent', 

      data() {
        return {
          menu: [
            'Users','Settings','Log Out'
          ], 
          drawer: null,
          showButton: false
        };
      }, 
      
      methods: {
        navMenuClick(itemTitle) {
          if (itemTitle == 'Users') {
            //this.$router.push('/dashboard');
          } else if (itemTitle == 'Settings') {
            //this.$router.push('/users');
          }else if  (itemTitle == 'Log Out'){
            this.$router.push('/')
          }
        },
        navUserClick(userId) {
          var payload = {
            id: userId,
            date: moment().format('YYYY-MM-DD')
          }
          this.$router.push({name: 'UserHoursComponent', params: {id: userId}})
        },
        signInOut(userId) {
          var payload = {
              id: userId,
              date: new Date()
          }
          this.$store.commit('punchUserCard', payload)
        }
      },

      computed: {
        users() {
          return this.$store.state.users
        }        
      },

      mounted () {
        Axios({
                url: `http://localhost:2022/api/employee/list/${dateFormat(new Date(), `yyyy-mm-dd'T'hh:MM:ss.ss'Z'`)}`,
                method: 'GET'
            }).then((response) => {
                this.$store.commit('getUsers', response.data.recordset);
            }).catch((error) => {
                console.log(error)
        });
      }
    }
</script>

<style>

  #toolbarTitle {
    font-family: "Aguafina Script";
    font-size: 28px;
    overflow: inherit;
  }

</style>