<template>

    <div>
        <v-container fluid class="mt-4">
            <h1 class="headline text-md-center mb-3 pt-2 pb-2 elevation-5" >{{ selectedUser }}
                <v-menu class="ml-2 mr-2"
                    lazy
                    :close-on-content-click="false"
                    v-model="menu"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    max-width="290px"
                    min-width="290px"
                >
                    <v-text-field
                    slot="activator"
                    label="Select date"
                    v-model="date"
                    prepend-icon="event"
                    readonly
                    ></v-text-field>
                    <v-date-picker v-model="date"  scrollable actions>
                    <template slot-scope="{ save, cancel }">
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                        <v-btn flat color="primary" @click="dateSaved()">OK</v-btn>
                        </v-card-actions>
                    </template>
                    </v-date-picker>
                </v-menu>
            </h1>

            <!-- User Hours Table -->
            <v-data-table dark :headers="headers()" :items="userHours" item-key="name" hide-actions class="elevation-3">
                <template slot="headerCell" slot-scope="props">
                    <v-tooltip bottom>
                        <span slot="activator">
                        {{ props.header.text }}
                        </span>
                        <span>
                        {{ props.header.text }}
                        </span>
                    </v-tooltip>
                </template>


                <template slot="items" slot-scope="props" >
                    <tr @click="props.expanded = !props.expanded">
                        <td class="column1">
                            {{ props.item.name }}
                            {{ props.item.date }}
                        </td>
                        <td class="text-xs-right ">

                            <vue-slider class="timeSlider" ref="slider" v-model="props.item.value"
                            :width="width"
                            :height="height"
                            :dotSize="dotSize"
                            :min="min"
                            :max="max"
                            :interval="interval"
                            :disabled="disabled"
                            :show="show"
                            :tooltip="tooltip"
                            :piecewise="piecewise"
                            :piecewiseLabel="props.item.date === todaysDate ? piecewiseLabel : false"
                            :data="time"
                            :clickable="clickable"
                            >
                            <template slot="label" slot-scope="{ label }">
                                <span id="customLabel" v-if="label === props.item.targets[0]" >
                                    {{ label }}
                                </span>
                            </template>
                            </vue-slider>

                        </td>
                    </tr>
                </template>

                <template slot="no-data">
                    Select an user
                </template>

                <template slot="expand" slot-scope="props">
                    <v-card>
                        <v-btn disabled icon  @click="editItem(props.item)">
                        <v-icon color="teal">edit</v-icon>
                        </v-btn>
                        <v-btn disabled icon class="mx-0" @click="deleteItem(props.item)">
                        <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </v-card>
                </template>

            </v-data-table>

            <!-- Summary Table -->
            <v-data-table dark :headers="summaryHeader" :items="userHoursSummary" item-key="WeekStart" hide-actions class="elevation-3 mt-3">
                <template slot="headerCell" slot-scope="props">
                <v-tooltip bottom>
                    <span slot="activator">
                    {{ props.header.text }}
                    </span>
                    <span>
                    {{ props.header.text }}
                    </span>
                </v-tooltip>
                </template>


                <template slot="items" slot-scope="props">
                    <tr>
                        <td class="text-xs-left">
                            {{ props.item.WeekStart.substr(0,10) }}
                        </td>
                        <td class="text-xs-left">
                            {{ props.item.Description }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Monday ? props.item.Monday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Tuesday ? props.item.Tuesday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Wednesday ? props.item.Wednesday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Thursday ? props.item.Thursday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Friday ? props.item.Friday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Satureday ? props.item.Satureday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-center">
                            {{ props.item.Sunday ? props.item.Sunday.toFixed(2) : '-' }}
                        </td>
                        <td class="text-xs-right">
                            {{ props.item.Total.toFixed(2) }}
                        </td>
                    </tr>
                </template>

                <template slot="no-data">
                    Select an user
                </template>

            </v-data-table>
        </v-container>
    </div>
</template>

<script>
    import NavigationComponent from './NavigationComponent.vue';
    import vueSlider from 'vue-slider-component';
    import dateFormat from 'dateformat'
    import moment from 'moment'


	 export default {
		name: 'UserHours',
        components: {
            'navigation': NavigationComponent,
            'vueSlider': vueSlider
        },

		data() {
            return {
                date: null,
                todaysDate: '',
                menu: false,
                dialog: false,
                selected: [],
                editedIndex: -1,
                expandedHeader: [
                    {
                        text: 'Edit',
                        align: 'left',
                        sortable: false,
                        value: ''
                    },
                    {
                        text: 'Target',
                        align: 'center',
                        sortable: false,
                        value: ''
                    },
                ],
                summaryHeader: [
                    {
                        text: 'Week Start',
                        align: 'left',
                        sortable: false,
                        value: 'WeekStart'
                    },
                    {
                        text: 'Description',
                        align: 'left',
                        sortable: false,
                        value: 'Description'
                    },
                    {
                        text: 'Monday',
                        align: 'center',
                        sortable: false,
                        value: 'Monday'
                    },
                    {
                        text: 'Tuesday',
                        align: 'center',
                        sortable: false,
                        value: 'Tuesday'
                    },
                    {
                        text: 'Wednesday',
                        align: 'center',
                        sortable: false,
                        value: 'Wednesday'
                    },
                    {
                        text: 'Thursday',
                        align: 'center',
                        sortable: false,
                        value: 'Thursday'
                    },
                    {
                        text: 'Friday',
                        align: 'center',
                        sortable: false,
                        value: 'Friday'
                    },
                    {
                        text: 'Satureday',
                        align: 'center',
                        sortable: false,
                        value: 'Satureday'
                    },
                    {
                        text: 'Sunday',
                        align: 'center',
                        sortable: false,
                        value: 'Sunday'
                    },
                    {
                        text: 'Total',
                        align: 'right',
                        sortable: false,
                        value: 'Total'
                    }
                ],
                time: [],
                width: "100%",
                height: 7,
                dotSize: 10,
                min: 1,
                max: 100,
                interval: 1,
                disabled: true,
                clickable: false,
                show: true,
                tooltip: 'always',
                piecewise: false,
                piecewiseLabel: true,
                tooltipDir: [
                    "top",
                    "bottom"
                ],
                bgStyle: {
                    "backgroundColor": "#ccc",
                },
                sliderStyle: [
                    {
                        "backgroundColor": "#3498db"
                    },
                    {
                        "backgroundColor": "#ea5b5b"
                    }
                ],
                tooltipStyle: [
                    {
                        "backgroundColor": "#3498db",
                        "borderColor": "#3498db"
                    },
                    {
                        "backgroundColor": "#ea5b5b",
                        "borderColor": "#ea5b5b"
                    }
                ],
                processStyle: {
                    "backgroundColor": "#ccc"
                }
            }

        },

		methods: {
            headers() {
                var headers = []
                headers.push(
                    {
                        text: 'Day',
                        align: 'left',
                        sortable: false,
                        value: 'day'
                    }
                )
                return headers
            },
            dateSaved() {
                var payload = {
                    date: this.date ? this.date : new Date(),
                    id: this.$route.params.id
                }
                this.$store.commit('getUserHours', payload)
                this.menu = false
            }

        },

        computed: {
            userHours() {
                if(this.$store.state.userHours.recordset && this.$store.state.userHours.recordset.length > 0){ //Use for offline: this.$store.state.userHours

                    let days = [
                        {name:'Monday',date:'',weekNumber: 2, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Tuesday',date:'',weekNumber: 3, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Wednesday',date:'',weekNumber: 4, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Thursday',date:'',weekNumber: 5, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Friday',date:'',weekNumber: 6, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Satureday',date:'',weekNumber: 7, signIn:'', signOut:'',value:[], targets:[]},
                        {name:'Sunday',date:'',weekNumber: 1, signIn:'', signOut:'',value:[], targets:[]}
                    ]

                    var userHours = this.$store.state.userHours.recordset

                    days.forEach(function(day,k){
                        userHours.forEach(function(item,i){
                            if(item.FKDayOfWeek === day.weekNumber){

                                day.date = item.DateWorked && item.DateWorked.length > 0 ? item.DateWorked.substr(0,10) : ''

                                var val = item.SignedIn && item.SignedIn.length > 0 ? item.SignedIn.substr(11,5) : ''

                                val !== '' ? day.value.push(val) : day.value.push('00:00')
                                console.log(day.value)
                                day.signIn = val//item.SignedIn.substr(11,5)


                                val = item.SignedOut && item.SignedOut.length > 0 ? item.SignedOut.substr(11,5) : ''
                                console.log(val)
                                if(val !== ''){
                                    console.log('here')
                                    day.value.push(val)
                                } else if(day.date === dateFormat(new Date(), `yyyy-mm-dd'T'hh:MM:ss.ss'Z'`).substr(0,10)) {
                                    console.log('here1')
                                    console.log(days)
                                    var date = moment(item.SignedIn)
                                    date.add(moment.duration(8.75, 'h'))
                                    day.targets.push(date.format('HH:mm'))
                                } else {
                                    console.log('here2')

                                    day.value.push('00:00')
                                }
                                day.signOut = val

                                console.log(days)

                            }
                        })
                    })

                    days.forEach(function(day,k){
                        if(day.date === ''){
                            day.value.push('00:00')
                            day.value.push('00:00')
                        }
                    })

                    return days
                }else{
                    var days = [
                        {name:'Monday',weekNumber: 2, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Tuesday',weekNumber: 3, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Wednesday',weekNumber: 4, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Thursday',weekNumber: 5, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Friday',weekNumber: 6, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Satureday',weekNumber: 7, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]},
                        {name:'Sunday',weekNumber: 1, signIn:'', signOut:'',value:["00:00","00:00"], targets:[]}
                    ]
                    return days
                }
            },
            selectedUser(){
                return this.$store.state.selectedUser
            },
            userHoursSummary(){
                return this.$store.state.userHoursSummary.recordset
            }

        },

        watch: {
            '$route' (to, from){
                var payload = {
                    date: this.date ? this.date : new Date(),
                    id: this.$route.params.id
                }
                this.$store.commit('getUserHours', payload)
                this.$store.commit('selectUser', this.$route.params.id)
            }
        },

		created () {

        },

        mounted (){
            //Set todays date
            this.todaysDate = dateFormat(new Date(), `yyyy-mm-dd'T'hh:MM:ss.ss'Z'`).substr(0,10)

            //Create 24hours array that is used in slider
            var arr = [], i, j;
            for(i = 0; i < 24; i++) {
                for(j = 0; j < 60; j++) {
                    if(j < 10){
                        arr.push((i < 10 ? '0' + i : i) + ':' + (j===0 ? '00' : '0' + j) )
                    }
                    else{
                            arr.push((i < 10 ? '0' + i : i) + ':' + j);
                    }
                }
            }
            this.time = arr
        }

	 }
</script>

<style>
    h1 {
        background: white;
        color: #424242;
        /* background: #424242;
        color: white; */
    }
    table.table tbody td, table.table tbody th {
        height: 60px;
    }
    table.table {
        border-collapse: inherit;
    }
    .column1 {
        width: 70px;
    }
    .timeSlider {
        opacity: 1!important;
    }
    #customLabel {
        position: absolute;
        color:white;
        left: 0;
        transform: translate(-50%, 12px);
        margin-left: 3px;
        padding-top: 3px;
    }
    #customLabel::before {
        content: '';
        position: absolute;
        bottom:100%;
        left: 50%;
        transform: translate(25%, 4px);
        width: 3px;
        height: 25px;
        background-color: #ea5b5b;
    }
</style>
